section[class="three"] {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	background: url('../images/bg-pattern-circles.svg'), var(--very-dark-gray-blue);
	border-bottom-left-radius: 160px;
	border-top-right-radius: 160px;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;

}

section[class="three"] {}

section[class="three"] h2 {
	color: white;
}

section[class="three"] p {
	color: white;
}

section[class="mobile-gradient-background"] {
	display: none;
}

@container (inline-size < 1000px) {
	section[class="mobile-gradient-background"] {
		display: grid;
		background: url('../images/bg-pattern-circles.svg'), var(--very-dark-gray-blue);
		height: 90%;
		width: 100%;
		border-bottom-left-radius: 160px;
		border-top-right-radius: 280px;
		position: absolute;
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		z-index: -1;
		background-clip: content-box;
		padding-top: 150px;
	}

	section[class="three"] {
		grid-template-columns: 1fr;
		text-align: center;
		position: relative;
		background: unset;
		z-index: 2;
		background-position: center;

	}

	section[class="three"] h2 {
		font-size: 1.6em;
	}

	section[class="three"] section[class="image-container"] {
		order: 1;
		z-index: 2;

	}

	section[class="three"] section[class="image-container"] img {
		width: 100%;
	}

	section[class="three"] section[class="right"] {
		order: 2;
		box-sizing: content-box;
		padding: 50px;
	}

	section[class="three"] {
		background-position-y: top;
		background-size: contain;
	}
}